* {
	margin: 0;
	padding: 0;
	border: 0;
}

/*********** PAGE STARTS ***********/

body {
	background-color: #d3dded
}







/*********** DESKTOP ***********/

@media (min-width: 675px) {
	body {
		background-color: #a4b1c4;
	}
}

@media (min-width: 999px) {
	body {
		background-color: #7a879b;
	}
}

@media (min-width: 1280px) {
	body {
		background-color: #5b677a;
	}
}
